@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Roboto);

.panda-container *, 
.panda-container *:after, 
.panda-container *:before {
  box-sizing: border-box;
}

.panda-container {
  --pri: #ACB0BD;
  background: var(--pri);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  position: relative;
  padding-top: 40px; /* push panda slightly from top */
}

.panda-container .panda {
  position: relative;
  width: 200px;
  margin: 0 auto; /* horizontally center */
}

.panda-container .face {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 100%;
  margin: 0 auto; /* remove top margin */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  z-index: 50;
  position: relative;
}

/* ears */
.panda-container .ear, 
.panda-container .ear:after {
  position: absolute;
  width: 80px;
  height: 80px;
  background: #000;
  z-index: 5;
  border: 10px solid #fff;
  left: -15px;
  top: -15px;
  border-radius: 100%;
}

.panda-container .ear:after {
  content: '';
  left: 125px;
}

/* eye shades */
.panda-container .eye-shade {
  background: #000;
  width: 50px;
  height: 80px;
  margin: 10px;
  position: absolute;
  top: 35px;
  left: 25px;
  transform: rotate(220deg);
  border-radius: 25px/20px 30px 35px 40px;
}

.panda-container .eye-shade.rgt {
  transform: rotate(140deg);
  left: 105px;
}

/* eyes */
.panda-container .eye-white {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #fff;
  z-index: 500;
  left: 40px;
  top: 80px;
  overflow: hidden;
}

.panda-container .eye-white.rgt {
  right: 40px;
  left: auto;
}

.panda-container .eye-ball {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 20px;
  top: 20px;
  max-width: 10px;
  max-height: 10px;
  transition: 0.1s;
}

.panda-container .eye-ball:after {
  content: '';
  background: #000;
  position: absolute;
  border-radius: 100%;
  right: 0;
  bottom: 0px;
  width: 20px;
  height: 20px;
}

/* nose */
.panda-container .nose {
  position: absolute;
  height: 20px;
  width: 35px;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50px 20px/30px 15px;
  transform: rotate(15deg);
  background: #000;
}

/* body */
.panda-container .body {
  background: #fff;
  position: absolute;
  top: 200px;
  left: -20px;
  border-radius: 100px 100px 100px 100px/126px 126px 96px 96px;
  width: 250px;
  height: 282px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* hands */
.panda-container .hand, 
.panda-container .hand:after, 
.panda-container .hand:before {
  width: 40px;
  height: 30px;
  border-radius: 50px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  background: #000;
  margin: 5px;
  position: absolute;
  top: 70px;
  left: -25px;
}

.panda-container .hand:after, 
.panda-container .hand:before {
  content: '';
  left: -5px;
  top: 11px;
}

.panda-container .hand:before {
  top: 26px;
}

.panda-container .hand.rgt, 
.panda-container .rgt.hand:after, 
.panda-container .rgt.hand:before {
  left: auto;
  right: -25px;
}

.panda-container .hand.rgt:after, 
.panda-container .hand.rgt:before {
  left: auto;
  right: -5px;
}

/* feet */
.panda-container .foot {
  top: 450px;
  left: -80px;
  position: absolute;
  background: #000;
  z-index: 1400;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 40px 40px 39px 40px/26px 26px 63px 63px;
  width: 82px;
  height: 120px;
}

.panda-container .foot:after {
  content: '';
  width: 55px;
  height: 65px;
  background: #222;
  border-radius: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
}

.panda-container .foot .finger, 
.panda-container .foot .finger:after, 
.panda-container .foot .finger:before {
  position: absolute;
  width: 25px;
  height: 35px;
  background: #222;
  border-radius: 100%;
  top: 10px;
  right: 5px;
}

.panda-container .foot.rgt {
  left: auto;
  right: -80px;

}

/* form */
.panda-container form {
  max-width: 400px;
  padding: 20px 40px;
  background: #fff;
  height: 360px;
  margin: 20px auto 0 auto; /* small gap below panda */
  display: block;
  box-shadow: 0 10px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
  position: relative;
  transform: translateY(0); /* removed top offset */
  z-index: 500;
  border: 1px solid #eee;
}

/* headings */
.panda-container h1 {
  color: #FF8700;
  font-family: 'Dancing Script', cursive;
}

/* button */
.panda-container .btn {
  background: #fff;
  padding: 5px;
  width: 150px;
  height: 35px;
  border: 1px solid #041075;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 50px #FF8700 inset;
  color: #fff;
}

.panda-container .btn:hover {
  box-shadow: 0 0 #4094FF inset;
  color: var(--pri);
}

.panda-container .btn:focus {
  outline: none;
}

/* input fields */
.panda-container .form-group {
  position: relative;
  font-size: 15px;
  color: #666;
}

.panda-container .form-group + .form-group {
  margin-top: 30px;
}

.panda-container .form-group .form-label {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
  transition: 0.3s;
}

.panda-container .form-group .form-control {
  width: 100%;
  position: relative;
  z-index: 3;
  height: 40px;
  background: none;
  border: none;
  padding: 5px 0;
  transition: 0.3s;
  border-bottom: 1px solid #777;
  color: #555;
}

.panda-container .form-group .form-control:focus + .form-label, 
.panda-container .form-group .form-control:valid + .form-label {
  font-size: 12px;
  color: #FF8700;
  transform: translateY(-15px);
}

/* alert */
.panda-container .alert {
  position: absolute;
  color: #f00;
  font-size: 16px;
  right: -180px;
  top: -300px;
  z-index: 200;
  padding: 30px 25px;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  border-radius: 50%;
  opacity: 0;
  transform: scale(0, 0);
  transition: linear 0.4s 0.6s;
}

.panda-container .wrong-entry {
  animation: wrong-log 0.3s;
}

.panda-container .wrong-entry .alert {
  opacity: 1;
  transform: scale(1, 1);
}

@keyframes wrong-log {
  0%, 100% { left: 0px; }
  20%, 60% { left: 20px; }
  40%, 80% { left: -20px; }
}
